
<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
   <div th:include="layout/style :: style"></div>

  <body>
    <div th:include="layout/header :: header"></div>
    
    <div class="container-fluid">
      <div class="row">
     	 <div th:include="layout/menu :: menu"></div>
     	 
     	 <!-- CONTEUDO DAS PAGINAS AQUI ! -->
          <section layout:fragment="conteudo">
		    <p>Page content goes here</p>
		  </section>
         <!-- CONTEUDO DAS PAGINAS FINAL  -->
         
      </div>
    </div>

    <div th:include="layout/js :: js"></div>
  </body>
</html>
